worker_processes 10;
error_log /var/log/nginx/error_log.log warn;
user cuthbert-acer;
worker_rlimit_nofile 2048;

events {
    worker_connections 1024;
    accept_mutex on;
    multi_accept off;
}

http {

    log_format main_log_format '$remote_addr $remote_user $time_local $request $status $body_bytes_sent $http_user_agent';

    limit_conn_zone $binary_remote_addr zone:conn_zone:10m;
    limit_req_zone $binary_remote_addr zone:req_zone:10m;

    gzip on;
    gzip_min_length 124kb;
    gzip_comp_level 3;
    gzip_disable 'msie6';
    gzip_types text/plain text/css text/javascript;
    # ^-> the text/html is applied by default

    keepalive_timeout 18s;
    keepalive_requests 20;
    send_timeout 30s;
    client_body_timeout 50s;
    client_header_timeout 10s;

    upstream main_up {
        least_conn;
        server 127.0.0.2:82 fail_timeout=5s max_fails=5 weight=5; 
    }

# !! -> a port cannot be assigned to few ips

    server {
        server_name 127.0.0.1;
        listen 81;
        
        error_page 404 /404.html;
        error_page 500 501 502 503 504 /50x.html;

        location / {
            proxy_pass http://main_up;
            proxy_intercept_errors on;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Accept_Encoding '';
        }
    
        location /404.html {
            root /home/cuthbert-acer/Desktop/nginx;
            internal;
        }

        location /50x.html {
            root /home/cuthbert-acer/Desktop/nginx;
            internal;
        }

    }

    server {
        server_name 127.0.0.2;
        listen 82;
        root /home/cuthbert-acer/Desktop/nginx;
        index index.html;

        limit_conn conn_zone;
        limit_req zone=req_zone , burst=5 delay=2;


        error_log /var/log/nginx/error.log;
        access_log /var/log/nginx/access.log main_log_format;

    }

    server {
        server_name 127.0.0.3;
        listen 83;
        root /home/cuthbert-acer/Desktop/nginx;
        autoindex on;
        index NO_EXISTENT_INDEX;
    }

    server {
        server_name 127.0.0.4;
        listen 84;
        root /home/cuthbert-acer/Desktop/nginx;
        index login.html;

        location / {
            auth_basic 'Admin Page';
            auth_basic_user_file /etc/nginx/conf.d/psswd;
            allow 192.168.1.2;
            deny all;
        }
    }

    server {
        server_name 127.0.0.5;
        listen 85;

        location / {
            (if request_method = POST) {
                return 405 'method not allowed'
            }
            return 200 'Get method recieved'
        }

        location /redirect {
            return 301 https://www.google.com;
        }
        location /redirect-to {
            return 301 /destination;
        }
        location /destination {
            root /home/acer-cuthbert/Desktop/nginx;
            index index.html;
        }
    }
    server {
        server mydomain.com;
        listen 86;
        return 301 $scheme://www.mydomain.com$request_uri;
    }
}