worker_proccess 10;
error_log nginx_error.log warn;
user cuthbert;

events {

}

http {

    log_format main '$remote_addr $remote_user $time_local $request
    $status $body_bytes_sent $http_user_agent';

    server {
        server_name localhost;
        listen 81;
        root /home/cuthbert/Desktop/nginx;
        index about.html;
        access_log /var/log/nginx/main_access.log main;
        error_log /var/log/nginx/main_error.log main;
        error_page 404 404.html;
        # -> its getting the 405.html from root
        error_page 500 /home/cuthber/Desktop/nginx/500.html;
    }

    server {
        server_name 127.0.0.2;
        listen 81;
        root /home/cuthbert/Desktop/nginx;
        index about.html;
        access_log /var/log/nginx/about_access.log main;
        error_log /var/logn/nginx/about_error.log main;
        error_page 404 /404.html;


        location /docs/ {
            root /home/cuthbert/Desktop/nginx/docs;
            index docs.html;
            error_log /var/log/nginx/docs_error.log warn;
            access_log /var/log/nginx/docs_access.log warn;
        }

        location /404.html {
            root /home/cuthber/Desktop/nginx/404.html;
            internal; 
            # -> its only avaible from nginx and internal and local apps
        }
    }

    server {
        server_name 127.0.0.3;
        listen 81;
        root /home/cuthbert/Desktop/nginx;
        autoindex on;
        index NOT_EXISTENT_INDEX;
        # ^-> it now shows the indexes of that directory , 

        # !!! -> pages that are not in location directive , will be listed in the paths , pages with location directive won't get listen in autoindex; !!! its so dangorous becarfull 

        location /not_bieng_shown_in_autoindex/ {
            root /user/cuthber/Desktop/nginx/not_bieng_shown_in_autoindex;
            index this_file_is_not_being_shown_in_list.html;
        }

    }    


}